*{
  user-select: none;
  
}
.App {
  text-align: center;
}
.mainContainer{
  width: 100dvw;
height: 100dvh;
overflow: hidden;
position: relative;
}
.container{
  display:flex ;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 50px;
  width: 100dvw;
  align-items: center;
  padding: 10px;
position: sticky;
top: 0;
}
.container::scroll-marker{
  
  box-shadow: inset 0px 0px 3px 1px black;
}
.tabs{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.tabs button{
  width: 25%;
  height: 80%;
  border: none;
  box-shadow: 0px 0px 3px 0px black;
  border-radius: 7px;
}
.searchItem{
  width: 250px;
  height: 30px;
margin-right: 30px;
outline: none;
border: 1px solid black;
/* border: none; */
border-radius: 5px;
/* box-shadow: 0px 0px 2px 1px black; */
}
.searchItem:hover{
  width: 250px;
  height: 30px;
margin-right: 30px;
outline: none;
border: 1px solid black;
/* border: none; */
border-radius: 5px;
box-shadow: 0px 0px 2px 1px black;
}
.searchItem:active{
  width: 250px;
  height: 30px;
margin-right: 30px;
outline: none;
border: 1px solid black;
/* border: none; */
border-radius: 5px;
box-shadow: 0px 0px 2px 1px black;
}

.spreadsheet-header {
  background-color: #add8e6; /* light blue */
  font-weight: bold;
  text-transform: capitalize;
}
